<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OldMates</title>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">


</head>


<body class="@ViewBag.BodyClass">


    <!-- =================== HEADER =================== -->
    <header>
        <nav class="navbar">
            <div class="container-fluid">

  
                <!-- LOGO -->
                <a class="navbar-brand" href='@Url.Action("Landing", "Home")'>
                    <img src="/img/OldMates_Logo_Final.png" alt="Logo OldMates">
                </a>


                <!-- MENÚ -->
                <ul class="navbar-nav">
                    <li><a href='@Url.Action("Landing", "Home")'>Inicio</a></li>
                    <li><a href='@Url.Action("Explorar", "Home")'>Explorar</a></li>
                    <li><a href='@Url.Action("MisActividades", "Home")'>Mis Actividades</a></li>
                    <li><a href='@Url.Action("Calendario", "Home")'>Mi Agenda</a></li>
                    <li><a href='@Url.Action("Mensajes", "Home")'>Mensajes</a></li>

                    <li><a href='@Url.Action("PerfilMenu", "Home")'>
                        <img src="/img/Perfil.png" alt="Perfil"></a>
                    </li>

                    <li><a href='@Url.Action("Notificaciones", "Home")'>
                        <img src="/img/Campana.png" alt="Notificaciones"></a>
                    </li>
                </ul>


            </div>
        </nav>
    </header>


    <!-- =================== CONTENT =================== -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- =================== NOTIFICATIONS =================== -->
    @await Html.PartialAsync("_Notifications")

    <!-- =================== FOOTER =================== -->
    <footer>
        <div>
            <h2><strong>Oldmates</strong></h2>
            <p>Acompañemos a quienes<br>siempre nos acompañaron</p>
        </div>


        <div>
            <h3>Ayuda</h3>
            <p>Recomendaciones</p>
            <p>Tutoriales</p>
            <p>Chat de servicio</p>
        </div>


        <div>
            <h3>Links Útiles</h3>
            <p>Perfil</p>
            <p>Actividades</p>
            <p>Encuentros</p>
        </div>


        <div>
            <h3>Contacto</h3>
            <p>+54 (11) 1823-4359</p>
            <p>Servicio@oldmates.com</p>
            <p>Buenos Aires, Argentina</p>
        </div>
    </footer>


    <!-- =================== SCRIPTS =================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>



