<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OldMates</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
     <header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          
        <ul class="navbar-nav">
          <li><a href='@Url.Action("Landing", "Home")'><img src="/img/OldMates_Logo_Final.png" alt="Logo OldMates"></a></li>
          <li><a href='@Url.Action("Landing", "Home")'>Inicio</a></li>
          <li><a href='@Url.Action("Explorar", "Home")'>Explorar</a></li>
          <li><a href='@Url.Action("Mensajes", "Home")'>Mensajes</a></li>
          <li><a href='@Url.Action("Perfil", "Home")'><img src="/img/Perfil.png" alt="Perfil"></a></li>
          <li><a href='@Url.Action("Notificaciones", "Home")'><img src="/img/Campana.png" alt="Notificaciones"></a></li>
          <li><a href='@Url.Action("Menu", "Home")'><img src="/img/Menu.png" alt="Menú"></a></li>
        </ul>
      </div>
    </nav>
  </header> 

    <main role="main">
        @RenderBody()
    </main>
            
    <footer>
      <footer>
    <div>
      <h2><strong>Oldmates</strong></h2>
      <p>Acompañemos a quienes<br>siempre nos acompañaron</p>
    </div>

    <div>
      <h3>Ayuda</h3>
      <p>Recomendaciones</p>
      <p>Tutoriales</p>
      <p>Chat de servicio</p>
    </div>

    <div>
      <h3>Links Útiles</h3>
      <p>Perfil</p>
      <p>Actividades</p>
      <p>Encuentros</p>
    </div>

    <div>
      <h3>Contacto</h3>
      <p>📞 +54 (11) 1823-4359</p>
      <p>✉️ Servicio@oldmates.com</p>
      <p>📍 Buenos Aires, Argentina</p>
    </div>
  </footer>


        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
