@using OldMates.Models 
@{
    ViewData["Title"] = "Lista de Eventos";
    List<Evento> eventos = ViewBag.Eventos;
}

<div class="container mt-4">
    <h2 class="title">Mis Eventos</h2>

    @if (eventos != null && eventos.Count > 0)
    {
        <section class="task-list">
            <header class="task-list-header">
                <p>Título</p>
                <p>Descripción</p>
                <p>Fecha</p>
                <p>Finalizada</p>
                <p>Localidad</p>
                <p>Capacidad libre</p>
                <p>Intereses</p>
                <p>Foto</p>
                <p>Acciones</p>
            </header>

            @foreach (var evento in eventos)
            {   int anotados;
                if(Anotados.Count() == null){
                    anotados = 0;
                }
                else{
                    anotados = Anotados.Count();
                }
                <section>
                    <p>@evento.Titulo</p>
                    <p>@evento.Descripcion</p>
                    <p>@evento.Fecha.ToString("dd/MM/yyyy")</p>
                    <p>@(evento.Eliminada ? "Sí" : "No")</p>
                    <p>@evento.Localidad</p>
                    <p>@(evento.Capacidad - (evento.Anotados.Count()))</p>
                    <p>@evento.Intereses</p>
                    <p>
                        <img src="@evento.Foto" alt="Foto del evento"
                             style="max-width: 100px; max-height: 100px;" />
                    </p>
                    <p>
                        <a class="btn btn-secondary"
                           href="@Url.Action("ModificarEvento", "Home", new { IDEvento = evento.ID })">Editar</a>

                        <a class="btn btn-danger"
                           href="@Url.Action("BorrarEvento", "Home", new { IDEvento = evento.ID })">Eliminar</a>
                    </p>
                </section>
            }
        </section>
    }
    else
    {
        <p class="empty-message">No tienes eventos registrados.</p>
    }
</div>
