@using OldMates.Models
@{
    ViewData["Title"] = "Modificar Evento";
    Evento evento = ViewBag.Eventos;
    int IDUsuario = ViewBag.IDUsuario;
}

<body>
  <main class="crear-actividad-container">
    <h1>Modificar actividad:</h1>

    <form action="ModificarEventoRecibir" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="ID" value="@evento.ID" />

      <div class="form-grid">
        <div class="form-group">
          <input type="text" name="Titulo" class="form-control" placeholder="Título" value="@evento.Titulo" required />
        </div>

        <div class="form-group">
          <input type="time" name="Duracion" class="form-control" placeholder="Duración" value="@evento.Duracion" required />
        </div>

        <div class="form-group">
          <input type="text" name="Descripcion" class="form-control" placeholder="Descripción" value="@evento.Descripcion" required />
        </div>

        <div class="form-group">
          <input type="text" name="Intereses" class="form-control" placeholder="Intereses" value="@evento.Intereses" required />
        </div>

        <div class="form-group">
          <input type="number" name="Capacidad" class="form-control" placeholder="Capacidad máxima" value="@evento.Capacidad" required />
        </div>

        <div class="form-group">
          <input type="date" name="Fecha" class="form-control" placeholder="Fecha" value="@evento.Fecha.ToString("yyyy-MM-dd")" required />
        </div>

        <div class="form-group">
          <input type="text" name="Localidad" class="form-control" placeholder="Zona" value="@evento.Localidad" required />
        </div>

        <div class="form-group upload-btn">
          <label for="imagen" class="btn-success">Cambiar imagen +</label>
          <input type="file" id="imagen" name="Imagen" accept="image/*" hidden />
        </div>
      </div>

      <div class="submit-btn">
        <button type="submit" class="btn-primary">Guardar Cambios</button>
      </div>
    </form>
  </main>
</body>
</html>
