@using OldMates.Models
@{
    Usuario usuario = ViewBag.Usuario;
    ViewData["Title"] = "Perfil";
}

<div class="container mt-4">
    <h2 class="title">Mi Perfil</h2>

    @if (usuario != null)
    {
        <section class="task-list">
            <header class="task-list-header">
                <p>Campo</p>
                <p>Valor</p>
            </header>

            <section>
                <p>Nombre</p>
                <p>@usuario.Nombre</p>
            </section>

            <section>
                <p>Apellido</p>
                <p>@usuario.Apellido</p>
            </section>

            <section>
                <p>Username</p>
                <p>@usuario.Username</p>
            </section>

            <section>
                <p>Zona</p>
                <p>@usuario.Localidad</p>
            </section>

            <section>
                <p>Intereses</p>
                <p>@usuario.Intereses</p>
            </section>
        </section>
    }
    else
    {
        <p class="empty-message">No se encontró información del usuario.</p>
    }
</div>
